<div class = "main_div">
    <header class = "header">
        <h5>Calculator</h5>
        <button class="h_button">—</button>
        <button class = "h_button">▢</button>
        <button class = "h_button" id ="exit">✕</button>
    </header>
    <div class = "middle_div">
        <button style = "background-color: transparent; border:none; font-size:15px">☰</button>
        <h2>Standard</h2>
    </div>
    <div class = "all_content" style = "text-align: right;">
        <label>{{expression}}</label>
    </div>
    <div class = "main_content" style = "text-align: right; font-size: 35px;">
        <label>{{number1}}</label>
        
    </div>
</div>
