.page-title{
    margin-top:50px;
    text-align: center;
    font-family: sans-serif;
    color:rgb(28, 112, 91);
    
}
.main.mat-card{
    width:70%;
    margin-top:50px;
    margin-left:200px;
    
}
.content{
    margin-left:20%;

}
.survey{
    margin-left:13%;
    width:50%;
    text-align: center;
}
.list-title{
    margin-left:28%;
}
.full-width{
    margin-left: 30px;
    margin-right: 100px;
}
