:host{
    height: 330px;
}
.secondary-grid-container{
    display: grid;
    position: relative;
    grid-template-columns:50px 50px 50px 50px 50px 50px;
}
.primary-grid-container{
    display: grid;
    position:relative;
    grid-template-columns: 75px 75px 75px 75px;
}
.secondary-button{
    height: 30px;
    width:47.5px;
    margin:1px;
    border:none;
    background-color: transparent;
    font-size: 11px;
}
.primary-button{
    height: 47.5px;
    width: 72.5px;
    margin:1px 1px 1px 1px;
    border:none;
    background-color: rgb(225,235,255);
    font-size: 15px;
}
.primary-button-number{
    height: 47.5px;
    width: 72.5px;
    margin:1px 1px 1px 1px;
    border:none;
    background-color: rgb(255,255,255);
    font-size:15px;
}